/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.progress-box {
  width: 950px;
  height: 100px;
  background-color: #48A74C;
  margin: 20px 0 20px 0;
}

.progress {
  position: relative;
  left: 430px;
  top: 10px;
  width: 0;
  height: 0;
}

.progress-right {
  border-top: 40px solid transparent;
  border-left: 100px solid white;
  border-bottom: 40px solid transparent;
}

.progress-left {
  border-top: 40px solid transparent;
  border-right: 100px solid white;
  border-bottom: 40px solid transparent;
}

.progress-arrow {
  position: relative;
  left: 200px;
  width: 100px;
  height: 10px;
  background-color: red;
}

.progress-arrow::after {
  content: "";
  position: relative;
  top: 40px;
  left: 40px;
  width: 50px;
  height: 50px;
  background: blue;
}

.pitch {
  position: relative;
  width: 950px;
  height: 500px;
  background-image: url(/img/field.png);
  background-size: cover;
}

.marker-start {
  position: absolute;
  top: 20px;
  left: 350px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #FFA400;
}

.marker-start-caption {
  position: relative;
  top: -50px;
  left: -8px;
}

.marker-first-down {
  position: absolute;
  top: 10px;
  left: 500px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid #FFA400;
}